<style>

    body {
        background: white;
    }
</style>


<p id="notice"><%= notice %></p>

<h1>Text Stories</h1>

<table class="table table-success table-striped table-hover">
  <thead>
    <tr>
      <th>Name of story</th>
      <th>Description of story</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @text_stories.each do |text_story| %>
      <tr>
        <td><%= text_story.name_of_story %></td>
        <td><%= text_story.description_of_story %></td>
        <td><%= link_to 'Show', text_story %></td>

        <!--
        <td><%= link_to 'Edit', edit_text_story_path(text_story) %></td>
        <td><%= link_to 'Destroy', text_story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!--
<%= link_to 'New Text Story', new_text_story_path %>
-->