<style>

    body {
        background: whitesmoke;
    }
</style>
<br/><br/>


<table class="table table-success table-striped table-hover table-bordered">
  <thead>
  <tr>
    <th>Name of story</th>
    <th>Description of story</th>
    <th>  Language </th>

  </tr>
  <tr>
    <td> Akhbar and Birbal:  How Many Turns on the Road</td>
    <td> Akhbar recieves a mysetrious letter from the Emperor of Persia</td>
    <td> <%= link_to "Hindi", stories_akhbar_hindi_path %>   or   <%= link_to "English", stories_akhbar_english_path %></td>
  </tr>
  <tr>
    <td> The Rabbits and the Elephants</td>
    <td> Strength is a testament to one's willpower; Wit can triumph over the mightiest  of foes. </td>
    <td> <%= link_to "Hindi", stories_rabbit_hindi_path %>  or   <%= link_to "English", stories_rabbit_english_path %></td>
  </tr>
  <tr>
    <td> The Golden Swan </td>
    <td> An Abundance of Wealth does not guarantee happiness </td>
    <td> <%= link_to "Hindi", stories_swan_hindi_path %>  or   <%= link_to "English", stories_swan_english_path %> </td>
  </tr>
  </thead>